*{
    margin:0;
    padding: 0;
}

body{
    background-color: aquamarine;
    text-align: center;
}

.game{
    margin: 30px 0px;
}

 .container {
    display: flex;
    justify-content: center;
    
}

.boxes{
    background-color: azure;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    display: block;
}

#reset{
    padding: 1rem;
    font-size: 1rem;
}

#msg{
    margin-top: 15px;
    color: rgb(137, 12, 12);
    font-size: 40px;
}

.hide{
    display: none;
}

.red-text {
    color: red;
}

.green-text {
    color: rgb(39, 230, 39);
}